:root {
  --main-red: #ea4335;
  --main-blue: #4285f4;
  --dark-blue: #1c53ac;
  --main-yellow: #fbbc05;
  --main-green: #34a853;
  --main-grey: #656565;
  --lite-grey: #c2c2c2;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(#c2c2c2, #fff);
  font-size: 12px;
  display: flex;
  justify-content: center;
}
